{% extends 'base.html' %}
{% block context %}
<style>
table, th, td {
  border:1px solid black;
  margin: auto;
}
</style>
{% if context %}
<table style="width:90%">
<tr>
<td>User ID</td>
<td>First name</td>
<td>Middle name</td>
<td>Last name</td>
<td>Email</td>
<td>Created at</td>
<td>Role</td>
</tr>
    {% for el in context %}
<tr>
        <option value="" >
            <td>{{el.id}}</td>
            <td>{{el.first_name}}</td>
            <td>{{el.middle_name}}</td>
            <td>{{el.last_name}}</td>
            <td>{{el.email}}</td>
            <td>{{el.created_at}}</td>
            <td>{{el.role}}</td>                
        </option>
</tr>
    {% endfor %}
</table>
{% else %}
<h1> There is no users</h1>
{% endif %}
<br>
<h7>&emsp;<button onclick="location.href='{% url 'add_info' 0 %}'">Add new user</button></h7></p>

&emsp;<select id="user_selection">
    {% for user in context %}
    <option value="{{user.id}}" >{{user.first_name}} {{user.last_name}}</option>
    {% endfor %}
    
    </select>
    <button id="submit_user" onclick="get_user_info()"> Change user info </button> </h3>
    
    
    <script>
    function get_user_info() {
        selectElement = document.querySelector('#user_selection');
        var url = "{% url 'add_info' 0 %}";
        var id = selectElement.value;
        window.open(url.replace('0', id), "_self");
    }
    </script>

{% endblock %} 