{% extends 'base.html' %}

{% block context %}
<style>
table, th, td {
  border:1px solid black;
}
</style>

{% if context %}
<table style="width:90%">
<tr>
<td>Order ID</td>
<td>User</td>
<td>Book</td>
<td>Created</td>
<td>End</td>
<td>Planed end</td>


</tr>

    {% for el in context %}
<tr>

                <td>{{el.id}}</td>
                <td>{{el.user}}</td>
                <td>{{el.book}}</td>
                <td>{{el.created_at}}</td>
                <td>{{el.end_at}}</td>
                <td>{{el.plated_end_at}}</td>

</tr>

    {% endfor %}
</table>

{% else %}
    <h1> There is no order in library </h1>
{% endif %}
{% endblock %}
