{% extends 'base.html' %}

{% block context %}
{% if context %}
    {% for el in context %}
        <option value="" > {{el.user.id}} {{el.user.first_name}} {{el.user.middle_name}} {{el.user.last_name}}
            {{el.user.email}} {{el.id}} {{el.book.name}}
            {%for author in el.authors.all%}
            {{author.name}} {{author.patronymic}} {{author.surname}} {% endfor %}
            {{el.created_at}} {{el.plated_end_at}}</option>
    {% endfor %}
{% else %}
<h1> There is no order in library </h1>
{% endif %}
{% endblock %}


